@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #008489;
  --color-primary: #FF5A5F;
  --color-secondary: #008489;
  --color-background: #FFFFFF;
  --color-text-primary: #222222;
  --color-text-secondary: #717171;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
